{{>layout/userheader}}

    <!-- 메인 -->
    <!-- 각자 페이지 main 클래스에 name 작성-->
    <!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
    <main class="resume common_bg">
        <div class="container"> 
            <!-- container 건들지 말기 -->
            <!-- 여기서부터 시작 -->
            <div class="main_tit"> 
              <h2>이력서 관리</h2>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="mypage_left">
                  <ul>
                    <li>
                      <div class="main_pic">
                        <img id="preview" src="/images/basic.jpg" alt="기본 이미지">
                        <input type="hidden" onchange="changeUserPic(event)" name="userPic">
                      </div>

                    </li>
                    <li>
                      {{#sessionUser}}
                      <h3>{{userName}}</h3>
                      {{/sessionUser}}
                    </li>
                  </ul>
                  <ul class="mypage_menu tab_menu">
                    <li><a href="/user/resume">이력서</a></li>
                    <li><a href="/user/applyAndSuggest">지원/제안</a></li>
                    <li><a href="/user/scrap">스크랩</a></li>
                    <li><a href="/user/info/updateForm">정보 수정</a></li>
                  </ul>
                  <ul class="mypage_menu">
                    <li><a href="#">로그아웃</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="mypage_right">
                  <div class="mypage_list">
                    <div class="resume_btn">
                      <div class="resume_count">전체
                          <span class="common_num">3</span>
                      </div>
                      <a href="/user/resume/saveForm" class="btn btn-primary" type="button">이력서 작성</a>
                    </div>
                    <ul class="com_cont">
                      {{#resumeList}}
                      <li class="resume_inner mb-2" id="resume-{{id}}">
                        <ul class="resume_cont">
                          <li class="com_tit com_btn">
                            <h4>{{title}}</h4>
                            <div class="double_btn">
                              <form>
                                <a href="/user/resume/{{id}}/updateForm" class="btn_empty" >이력서 수정</a>
                              </form>
                              <form>
                                <button type="button" class="btn_fill" onclick="deleteResume('{{id}}')">이력서 삭제</button>
                              </form>
                            </div>
                          </li>
                          <li class="com_txt">
                            {{edu}} {{career}} {{#careerYear}}{{careerYear}}{{/careerYear}}
                          </li>
                          <li class="com_skill user_skill">
                          {{#hasSkillList}}  
                          {{#skill}}<span class="skill_box">{{skill}}</span>{{/skill}}
                          {{/hasSkillList}}  
                          </li>
                        </ul>
                        {{/resumeList}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </main>
      <!-- 메인 -->

      <script>
      
   
       function deleteResume(id){
          $.ajax({
            url: `/api/resume/${id}/delete`,
            method: 'POST',
            success: (response) => {
              console.log(response);
              if(response.success === true){
                $(`#resume-${id}`).remove();
              }
          }
        });
      }


// async function deleteResume2(id){
//         let response = await fetch(`/api/resume/${id}/delete`, {
//             method: "POST"
//         });
//         let responseBody = await response.json();
//         console.log("나여기: 실패" + responseBody.success);
//         if(responseBody.success){
//           $(`#resume-${id}`).remove();
//         }else{
//             alert(responseBody.data);
//         }
//     }

      </script>
    
{{>layout/footer}}