{{>layout/userheader}}
<!-- 메인 -->
<!-- 각자 페이지 main 클래스에 name 작성-->
<!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
<main class="scrap_page common_bg">
  <div class="container">
    <!-- container 건들지 말기 -->
    <!-- 여기서부터 시작 -->
    <div class="main_tit">
      <h2>스크랩</h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="mypage_left">
          <ul>
            <li>
              <img src="/images/basic.jpg" alt="기본 이미지" />
            </li>
            <li>
              <h3>남은혜</h3>
            </li>
          </ul>
          <ul class="mypage_menu">
            <li><a href="/user/resume">이력서</a></li>
            <li><a href="/user/applyAndSuggest">지원/제안</a></li>
            <li><a href="/user/scrap">스크랩</a></li>
          </ul>
          <ul class="mypage_menu">
            <li><a href="/user/info/updateForm">정보 수정</a></li>
            <li><a href="/user/logout">로그아웃</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 mypage_category">
        <div class="mypage_right">
          <div class="mypage_list">
            <div class="resume_count">
              전체
              <span class="common_num">{{scrapJobOpeningSum}}</span>
            </div>
            {{#scrapJobOpeningDTOList}}
            <ul class="comp_cont">
              <li class="comp_img">
                <a href="/user/jobOpening/{{jobOpeningId}}">
                  <img src="/image/company_img/{{compPicUrl}}" alt="기업01">
                  <span class="comp_dday">{{dDayDeadLine}}</span>
                </a>
              </li>
              <li class="com_name comp_scrap">
                {{compName}}
                <div class="apply_scrap">
                  <form>
                    <button type="button" onclick="deleteScrap('{{jobOpeningId}}')" id="scrap_button{{jobOpeningId}}"
                      class="btn_empty scrap_icon scrap_button">
                      <input type="hidden" id="jobOpeningId{{jobOpeningId}}" name="jobOpeningId"
                        value="{{jobOpeningId}}">
                      <img id="scrap_icon" src="/image/full_star.png" alt="full_star.png" />
                    </button>
                  </form>
                </div>
              </li>
              <li class="com_tit">
                <h4>{{title}}</h4>
              </li>
              <li class="com_txt">
                {{skillName}}
              </li>
            </ul>

            </li>
            </ul>
          </div>

          {{/scrapJobOpeningDTOList}}
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
<!-- 메인 -->
{{>layout/footer}}