{{>layout/userheader}}
<!-- 메인 -->
<!-- 각자 페이지 main 클래스에 name 작성-->
<!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
<main class="mypage common_bg">
  <div class="container">
    <!-- container 건들지 말기 -->
    <!-- 여기서부터 시작 -->
    <div class="main_tit">
      <h2>마이페이지</h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="mypage_left">
          <ul>
            <li>
              <div class="main_pic">
                <img id="preview" src="/images/basic.jpg" alt="기본 이미지">
                <input type="hidden" onchange="changeUserPic(event)" name="userPic">
              </div>

            </li>
            <li>
              {{#sessionUser}}
              <h3>{{userName}}</h3>
              {{/sessionUser}}
            </li>
          </ul>
          <ul class="mypage_menu tab_menu">
            <li><a href="/user/resume">이력서</a></li>
            <li><a href="/user/applyAndSuggest">지원/제안</a></li>
            <li><a href="/user/scrap">스크랩</a></li>
            <li><a href="/user/info/updateForm">정보 수정</a></li>
          </ul>
          <ul class="mypage_menu">
            <li><a href="#">로그아웃</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="mypage_right tab-content">
          <div class="mypage_list">
            <div class="resume_count">이력서

              <span class="common_num">{{totalResume}}</span>

            </div>
            <ul class="com_cont">
              {{#resumeList}}
              <li class="resume_inner mb-2" id="resume-{{id}}">
                <ul class="resume_cont">
                  <li class="com_tit com_btn">
                    <h4>{{title}}</h4>
                    <div class="double_btn">
                      <form>
                        <a href="/user/resume/{{id}}" class="btn_empty" >이력서 상세보기</a>
                      </form>
                    </div>
                  </li>
                  <li class="com_txt">
                    {{edu}} {{career}} {{#careerYear}}{{careerYear}}{{/careerYear}}
                  </li>
                  <li class="com_skill user_skill">
                  {{#hasSkillList}}  
                    <span class="skill_box">{{skill.skill}}</span>
                  {{/hasSkillList}}  
                  </li>
                </ul>
                {{/resumeList}}
              </li>
            </ul>
          </div>
          <div class="mypage_list">
            <div class="scrp_count">스크랩
              <span class="common_num">{{scrapJobOpeningSum}}</span>
            </div>
            <ul class="com_cont com_box">
              <li class="comp_item scrap_item">
                {{#scrapJobOpeningDTOList}}
                <ul class="comp_cont">
                  <li class="comp_img">
                    <a href="/user/jobOpening/{{jobOpeningId}}">
                      <img src="/image/company_img/comp_img01.png" alt="기업01">
                      <span class="comp_dday">{{dDayDeadLine}}</span>
                    </a>
                  </li>
                  <li class="com_name comp_scrap">
                    {{compName}}
                    <div class="apply_scrap">
                      <form>
                        <button type="button" onclick="deleteScrap('{{jobOpeningId}}')" id="scrap_button{{jobOpeningId}}" class="btn_empty scrap_icon scrap_button">
                          <input type="hidden" id="jobOpeningId{{jobOpeningId}}" name="jobOpeningId"
                    value="{{jobOpeningId}}">
                            <img
                              id="scrap_icon"
                              src="/image/full_star.png"
                              alt="full_star.png"
                            />
                          </button>
                      </form>
                    </div>
                  </li>
                  <li class="com_tit">
                    <h4>{{title}}</h4>
                  </li>
                  <li class="com_txt">
                    {{skillName}}
                  </li>
                </ul>
                {{/scrapJobOpeningDTOList}}
              </li>
            </ul>
          </div>
          <div class="mypage_list">
            <div class="rec_notice">추천공고</div>
            <ul class="com_cont com_box">
              <li class="comp_item">
                <a href="comp_job_opening_detail.html">
                  <ul class="comp_cont">
                    <li class="comp_img">
                      <img src="/image/company_img/comp_img01.png" alt="기업01">
                    </li>
                    <li class="com_name">
                      모트렉스
                    </li>
                    <li class="com_tit">
                      <h4>웹 개발(백엔드,프론트엔드)</43>
                    </li>
                    <li class="com_txt">
                      CSS3·jQuery·Linux·JavaScript
                    </li>
                    <li class="com_etc">
                      <span class="com_adr">서울 영등포구</span>
                      <span class="com_car">경력 5-15년</span>
                    </li>
                  </ul>
                </a>
              </li>
              <li class="comp_item">
                <a href="comp_job_opening_detail.html">
                  <ul class="comp_cont">
                    <li class="comp_img">
                      <img src="image/company_img/comp_img01.png" alt="기업01">
                    </li>
                    <li class="com_name">
                      모트렉스
                    </li>
                    <li class="com_tit">
                      <h4>앱 개발(IOS 개발자)</43>
                    </li>
                    <li class="com_txt">
                      CSS3·jQuery·Linux·JavaScript
                    </li>
                    <li class="com_etc">
                      <span class="com_adr">서울 영등포구</span>
                      <span class="com_car">경력 5-15년</span>
                    </li>
      
                        </ul>
                      </a>
                    </li>
                  </ul>
                </a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- 메인 -->
<script>
  function changeUserPic(e1) {
    let f = e1.srcElement.files[0];
    console.log(f.type);
    if (!f.type.match("image.*")) {
      alert("이미지를 등록해주세요");
      return;
    }
    let reader = new FileReader();
    reader.onload = function (e2) { // 파일이 다 읽어지면 콜백됨
      let previewEl = document.querySelector("#preview");
      previewEl.setAttribute("src", e2.target.result);
    }
    reader.readAsDataURL(f); // 파일 읽기 onload()
  }

  async function deleteScrap(jobOpeningId) {
    // 삭제 메소드 호출
    let response = await fetch("/api/user/jobOpening/scrap/delete", {
        method: "delete",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ jobOpeningId })
    });

    let responseBody = await response.json();
    console.log(responseBody);

    if (responseBody.success) {
      alert("스크랩 삭제");
      location.reload();
    } else {
        alert(responseBody.data);
    }
}

</script>

{{>layout/footer}}