{{>layout/userheader}}
    <!-- 메인 -->
    <!-- 각자 페이지 main 클래스에 name 작성-->
    <!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
    <main class="scrap_page common_bg">
        <div class="container"> 
            <!-- container 건들지 말기 -->
            <!-- 여기서부터 시작 -->
            <div class="main_tit"> 
              <h2>스크랩</h2>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="mypage_left">
                  <ul>
                    <li>
                      <img src="image/user_img/def_img.png" alt="기본 이미지">
                    </li>
                    <li>
                      <h3>남은혜</h3>
                    </li>
                  </ul>
                  <ul class="mypage_menu">
                    <li><a href="#">이력서</a></li>
                    <li><a href="#">지원/제안</a></li>
                    <li><a href="#">스크랩</a></li>
                  </ul>
                  <ul class="mypage_menu">
                    <li><a href="#">정보 수정</a></li>
                    <li><a href="#">로그아웃</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-9 mypage_category">
                <div class="mypage_right">
                  <div class="mypage_list">
                      <div class="resume_count">전체
                          <span class="common_num">3</span>
                      </div>
                      <ul class="com_cont">
                          <li class="resume_box">
                            <ul class="resume_cont">
                              <a href="#">
                                  <li class="com_tit com_btn">
                                      <div class="apply_scrap">
                                          <button class="scrap_button">
                                              <img src="/image/empty_star.png" alt="empty_star.png">
                                          </button>
                                          <h4>프론트엔드 모집합니다</h4>
                                      </div>
                                  </li>
                                  <li class="com_txt">고졸 신입</li>
                                  <li class="com_skill comp_skill">
                                      <span class="skill_box">HTML/CSS</span>
                                      <span class="skill_box">JavaScript</span>
                                      <span class="skill_box">MySQL</span>
                                      <span class="skill_box">Spring</span>
                                      <span class="skill_box">JAVA</span>
                                  </li>
                              </a>
                            </ul>
                          </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </main>
      <!-- 메인 -->
{{>layout/footer}}