{{>layout/userheader}}
<!-- 메인 -->
<!-- 각자 페이지 main 클래스에 name 작성-->
<!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
<main class="scrap_page common_bg">
  <div class="container">
    <!-- container 건들지 말기 -->
    <!-- 여기서부터 시작 -->
    <div class="main_tit">
      <h2>스크랩</h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="mypage_left">
          <ul>
            <li>
              <div class="main_pic">
                <img id="preview" src="/images/basic.jpg" alt="기본 이미지">
                <input type="hidden" onchange="changeUserPic(event)" name="userPic">
              </div>

            </li>
            <li>
              {{#sessionUser}}
              <h3>{{userName}}</h3>
              {{/sessionUser}}
            </li>
          </ul>
          <ul class="mypage_menu tab_menu">
            <li><a href="/user/resume">이력서</a></li>
            <li><a href="/user/applyAndSuggest">지원/제안</a></li>
            <li><a href="/user/scrap">스크랩</a></li>
            <li><a href="/user/info/updateForm">정보 수정</a></li>
          </ul>
          <ul class="mypage_menu">
            <li><a href="#">로그아웃</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 mypage_category">
        <div class="mypage_right tab-content mypage_list_item" id="scrap">
          <div class="mypage_list">
            <div class="resume_count">전체
              <span class="common_num">{{scrapJobOpeningSum}}</span>
            </div>
            <ul class="com_cont">
              {{#scrapJobOpeningDTOList}}
              <li class="resume_inner">
                <ul class="resume_cont">
                  <li class="com_tit com_btn">
                    <div class="apply_scrap">
                      <button type="button" onclick="deleteScrap('{{jobOpeningId}}')" id="scrap_button{{jobOpeningId}}" class="btn_empty scrap_icon scrap_button">
                        <input type="hidden" id="jobOpeningId{{jobOpeningId}}" name="jobOpeningId"
                  value="{{jobOpeningId}}">
                          <img
                            id="scrap_icon"
                            src="/image/full_star.png"
                            alt="full_star.png"
                          />
                        </button>
                      <a href="/user/jobOpening/{{jobOpeningId}}">
                        <h4>{{title}}</h4>
                      </a>
                    </div>
                  </li>
                  <li class="com_txt">{{edu}}</li>
                  <li class="com_skill comp_skill">
                    <span class="skill_box">{{skillName}}</span>
                  </li>
                </ul>
              </li>
              {{/scrapJobOpeningDTOList}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
<script>
    async function deleteScrap(jobOpeningId) {
    // 삭제 메소드 호출
    let response = await fetch("/api/user/jobOpening/scrap/delete", {
        method: "delete",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ jobOpeningId })
    });

    let responseBody = await response.json();
    console.log(responseBody);

    if (responseBody.success) {
      alert("스크랩 삭제");
      location.reload();
    } else {
        alert(responseBody.data);
    }
}
</script>
<!-- 메인 -->
{{>layout/footer}}