{{>layout/compheader}}
<!-- 메인 -->
<!-- 각자 페이지 main 클래스에 name 작성-->
<!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
<main class="resume common_bg">
  <div class="container">
    <!-- container 건들지 말기 -->
    <!-- 여기서부터 시작 -->
    <div class="main_tit">
      <h2>공고 관리</h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="mypage_left">
          <ul>
            <li>
              {{#sessionUser}}
              <div class="comp_pic_bg">
                <div class="comp_pic">
                    <img id="preview" src="/images/{{#compPicUrl}}{{compPicUrl}}{{/compPicUrl}}">
                </div>
              </div>
            </li>
            <li>
              <h3>{{ userName }}</h3>
              {{/sessionUser}}
            </li>
          </ul>
          <ul class="mypage_menu tab_menu">
            <li><a href="/comp/info/updateForm">회사 정보 수정</a></li>
            <li><a href="/comp/jobOpening/compResume">채용 공고</a></li>
            <li><a href="/comp/applyAndSuggest">지원/제안</a></li>
            <li><a href="/comp/scrap">스크랩</a></li>
            <li><a href="/comp/password/updateForm">비밀번호 변경</a></li>
          </ul>
          <ul class="mypage_menu">
            <li><a href="#">로그아웃</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="mypage_right">
          <div class="mypage_list">
            <div class="resume_btn">
              <div class="resume_count">
                전체
                <span id="totalJobOpening" class="common_num">{{totalJobOpening}}</span>
              </div>
              <a
                href="/comp/jobOpening/saveForm"
                class="btn btn-primary"
                type="submit"
                >공고 작성</a
              >
            </div>
            {{#jobOpeningList}}
            <ul class="com_cont">
              <li class="resume_inner" id="jobOpening-{{ id }}">
                <ul class="resume_cont">
                  <li class="com_tit com_btn">
                    <h4>{{ title }}</h4>
                    <div class="double_btn">
                      <form action="/comp/jobOpening/{{ id }}/updateForm">
                        <button type="submit" class="btn_empty">
                          공고 수정
                        </button>
                      </form>
                      <form>
                        <button
                          type="button"
                          class="btn_fill"
                          onclick="deletejob2('{{ id }}','{{sessionUser.id}}')"
                        >
                          공고 삭제
                        </button>
                      </form>
                    </div>
                  </li>
                  <li class="com_txt">
                    {{ edu }} {{ career }} {{#careerYear}}{{ careerYear
                    }}{{/careerYear}}
                  </li>
                  <li class="com_skill comp_skill">
                    <!-- 요구 기술 받아오기-->
                  </li>
                </ul>
              </li>
            </ul>
            {{/jobOpeningList}}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- 메인 -->
<script>

  function deletejob2(id, userId) {
    $.ajax({
      url: `/api/comp/jobOpening/${id}/delete`,
      method: "POST",
      success: (response) => {
        console.log(response);
        if (response.success === true) {
          $(`#jobOpening-${id}`).remove();
          reloadTotalJobOpening(userId);
        }
      },
    });
  }

  function reloadTotalJobOpening(userId){
    $.ajax({
      url: `/api/JobOpenings/count/${userId}`,
      success: (response) => {
         console.log(response);
         if(response.success == true) {
            $(`#totalJobOpening`).html('');
            $(`#totalJobOpening`).html(response.data);
         }
      }
    })
  }
</script>
{{>layout/footer}}
