{{>layout/compheader}}
<!-- 메인 -->
<!-- 각자 페이지 main 클래스에 name 작성-->
<!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
<main class="scrap_page common_bg">
  <div class="container">
    <!-- container 건들지 말기 -->
    <!-- 여기서부터 시작 -->
    <div class="main_tit">
      <h2>스크랩</h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="mypage_left">
          <ul>
            <li>
              <img src="image/user_img/def_img.png" alt="기본 이미지" />
            </li>
            <li>
              <h3>{{ sessionUser.userName }}</h3>
            </li>
          </ul>
          <ul class="mypage_menu">
            <li><a href="/comp/info/updateForm">회사정보수정</a></li>
            <li><a href="/comp/applyAndSuggest">채용공고</a></li>
            <li><a href="/comp/scrap">지원/제안</a></li>
          </ul>
          <ul class="mypage_menu">
            <li><a href="/comp/scrap">스크랩</a></li>
            <li><a href="/comp/password/updateForm">비밀번호 변경</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 mypage_category">
        <div class="mypage_right">
          <div class="mypage_list">
            <div class="resume_count">
              전체
              <span class="common_num">{{ scrapResumeSum }}</span>
            </div>
            <ul class="com_cont">
              {{#scrapResumeDTOList}}
              <li class="resume_inner">
                <ul class="resume_cont">
                  <li class="com_tit com_btn">
                    <div class="apply_scrap">
                      <button
                        type="button"
                        onclick="deleteScrap('{{ resumeId }}')"
                        id="scrap_button{{ resumeId }}"
                        class="btn_empty scrap_icon scrap_button"
                      >
                        <input
                          type="hidden"
                          id="resumeId{{ resumeId }}"
                          name="resumeId"
                          value="{{ resumeId }}"
                        />
                        <img
                          id="scrap_icon"
                          src="/image/full_star.png"
                          alt="full_star.png"
                        />
                      </button>
                      <a href="/comp/resume/{{ resumeId }}">
                        <h4>{{ title }}</h4>
                      </a>
                    </div>
                  </li>
                  <li class="com_txt">{{ edu }}</li>
                  <li class="com_skill comp_skill">
                    <span class="skill_box">{{ skillName }}</span>
                  </li>
                </ul>
              </li>
              {{/scrapResumeDTOList}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  async function deleteScrap(resumeId) {
    // 삭제 메소드 호출
    let response = await fetch("/api/comp/resume/scrap/delete", {
      method: "delete",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ resumeId }),
    });

    let responseBody = await response.json();
    console.log(responseBody);

    if (responseBody.success) {
      alert("스크랩 삭제");
      location.reload();
    } else {
      alert(responseBody.data);
    }
  }
</script>
<!-- 메인 -->
{{>layout/footer}}
