{{>layout/compheader}}

    <!-- 메인 -->
    <!-- 각자 페이지 main 클래스에 name 작성-->
    <!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
    <main class="resume common_bg">
        <div class="container"> 
            <!-- container 건들지 말기 -->
            <!-- 여기서부터 시작 -->
            <div class="main_tit"> 
              <h2>공고 관리</h2>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="mypage_left">
                  <ul>
                    <li>
                      <img src="image/user_img/def_img.png" alt="기본 이미지">
                    </li>
                    <li>
                      <h3>유수컴퍼니</h3>
                    </li>
                  </ul>
                  <ul class="mypage_menu">
                    <li><a href="#">이력서</a></li>
                    <li><a href="#">지원/제안</a></li>
                    <li><a href="#">스크랩</a></li>
                  </ul>
                  <ul class="mypage_menu">
                    <li><a href="#">정보 수정</a></li>
                    <li><a href="#">로그아웃</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="mypage_right">
                  <div class="mypage_list">
                    <div class="resume_btn">
                      <div class="resume_count">전체
                          <span class="common_num">3</span>
                        </div>
                        <a href="#" class="btn btn-primary" type="button">공고 작성</a>
                    </div>
                    <ul class="com_cont">
                      <li class="resume_box">
                        <ul class="resume_cont">
                          <li class="com_tit com_btn">
                            <h4>웹 프론트 개발자 채용</h4>
                            <div class="double_btn">
                              <form action="#">
                                <button type="submit" class="btn_empty">공고 수정</button>
                              </form>
                              <form action="#">
                                <button type="submit" class="btn_fill">공고 삭제</button>
                              </form>
                            </div>
                          </li>
                          <li class="com_txt">
                            고졸 신입
                          </li>
                          <li class="com_skill comp_skill">
                            <span class="skill_box">HTML/CSS</span>
                            <span class="skill_box">JavaScript</span>
                          </li>
                        </ul>
                        <ul class="resume_cont">
                          <li class="com_tit com_btn">
                            <h4>백엔드, 풀스택 개발자 채용합니다</h4>
                            <div class="double_btn">
                              <form action="#">
                                <button type="submit" class="btn_empty">공고 수정</button>
                              </form>
                              <form action="#">
                                <button type="submit" class="btn_fill">공고 삭제</button>
                              </form>
                            </div>
                          </li>
                          <li class="com_txt">
                            고졸 신입
                          </li>
                          <li class="com_skill comp_skill">
                            <span class="skill_box">HTML/CSS</span>
                            <span class="skill_box">JavaScript</span>
                            <span class="skill_box">MySQL</span>
                            <span class="skill_box">Spring</span>
                            <span class="skill_box">JAVA</span>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </main>
      <!-- 메인 -->
  
{{>layout/footer}}